{% extends 'base.html' %}


{% block body %}
<div class="container my-3 bg-primary-subtle border border-primary-subtle rounded-3">
    <h2 class="mt-2">Sobre mim</h2>
    <hr>

        <h6><p>Muito prazer!</p>
    </div>

        <p>Meu nome é Lilian Matsumoto, tenho 33 anos e sou nascida em São Paulo-SP, mas atualmente moro em Indaiatuba-SP.</p>
    
        Como hobbies gosto de jogos (console e boardgames), comida (tanto cozinhar quanto ir aos restaurantes), viajar e tocar violão!</p>
    <p>Ah! Também gosto de assistir séries e fazer artesanatos!</p>
    <p>Realizei Faculdade de Enfermagem na Universidade de São Paulo e trabalhei 8 anos nas áreas de saúde mental e oncologia.</p>
    <p>Contudo, sempre tive muito interesse e curiosidade pela área de tecnologia e, então, decidi explorar o Mundo Dev!</p>
    <p>Hoje atuo como Desenvolvedora Back-End e as principais ferramentas que faço uso são:</p>
    Python<br>
    Html<br>
    SQL Server<br>
    Figma<br>

    </h6>
</div>
{% endblock %}