<nav class="navbar navbar-expand-lg navbar-light bg-#0B0244">
    <div class="container-fluid container">
      <a class="navbar-brand fw-bold text-white" href="{{ url_for('home') }}">LM</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a class="nav-link active fw-bold text-white" aria-current="/" href="{{ url_for('home') }}">Início</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active fw-bold text-white" href="{{ url_for('repositorio') }}">Repositórios</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active fw-bold text-white" aria-current="page" href="{{ url_for('contato') }}">Contatos</a>
          </li>
        </ul>
        <form class="d-flex navbar-nav">
            <li class="nav-item">
                <a class="nav-link active fw-bold text-white" aria-current="page" href="{{ url_for('login') }}">Login</a>
            </li>
            
        </form>
      </div>
    </div>
  </nav>