<!-- Arquivo html com a página do repositório --> 

{% extends 'base.html' %}
{% block body %}
<div class="container my-3 bg-primary-subtle border border-primary-subtle rounded-3">
    <!-- Título --> 
    <h2 class=mt-2>Repositórios</h2>
    <hr>
    <!-- Container para inserir as informações --> 
    <div class="row container">
        <!-- Repositório 7 --> 
        <div class="col text-center">
            <img src="{{ url_for('static', filename='img/flask.png') }}" alt="imagem" style="max-width: 80%; height: auto;">
        </div>
        <div class="col">
            <h3>Projeto Flask</h3>
            <strong>Ferramentas:</strong>
                Python 3.10.10 e a biblioteca Flask.<br>
                Bootstrap, https://getbootstrap.com/.<br>
                Html.<br>
                Realizei este projeto para aprender a desenvolver aplicações web com essas tecnologias e, também, para poder apresentar meu portfólio profissional!<br>
            <br>
            <a class="nav-link" href="https://github.com/liliansom/Flask" target="_blank">Confira o repositório no Github!</a>
        </div>
        <p></p>
        <hr>  
        
        <!-- Repositório 6 --> 
        <div class="col text-center">
            <img src="{{ url_for('static', filename='img/AnaliseDados.png') }}" alt="imagem" style="max-width: 80%; height: auto;">
        </div>
        <div class="col">
            <h3>Projeto Análise de Dados</h3>
            <strong>Ferramentas:</strong>
            Python 3.10.10 e as bibliotecas pandas, matplotlib, ipython e pyodbc.<br>
            Banco de dados SQL Server, utilizando o banco de dados Contoso, https://www.microsoft.com/en-us/download/details.aspx?id=18279.<br>
            Realizei este projeto para aprender o funcionamento da biblioteca pandas.<br>
            Como tinha o desejo de ver esses dados em gráficos, implementei com o matplotlib!<br>
            <br>
            <a class="nav-link" href="https://www.linkedin.com/in/lilian-matsumoto/" target="_blank">Confira o repositório no Github!</a>
        </div>
        <p></p>
        <hr>

        <!-- Repositório 5 --> 
        <div class="col text-center">
            <img src="{{ url_for('static', filename='img/APICep.png') }}" alt="imagem" style="max-width: 80%; height: auto;">
        </div>
        <div class="col">
            <h3>Projeto Consumo API CEP</h3>
            <strong>Ferramentas:</strong>
            Python 3.10.10 e a biblioteca requests.<br>
            Realizei o consumo da API do site Via CEP, https://viacep.com.br/.
            Realizei este projeto para aprender como se realiza o consumo de API's.<br>
            <br>
            <a class="nav-link" href="https://www.linkedin.com/in/lilian-matsumoto/" target="_blank">Confira o repositório no Github!</a>

        </div>
        <p></p>
        <hr>

        <!-- Repositório 4 --> 
        <div class="col text-center">
            <img src="{{ url_for('static', filename='img/CadastroClientes.jpg') }}" alt="imagem" style="max-width: 80%; height: auto;">
        </div>
        <div class="col">
            <h3>Projeto Cadastro de Clientes</h3>
            <strong>Ferramentas:</strong>
            Python 3.10.10 e as bibliotecas tkinter, pyodbc, requests.<br>
            SQL Server<br>
            Neste projeto realizei outro CRUD. <br>
            Com o intuito de melhorar a escrita do código, utilizei POO pela primeira vez!<br>
            É um sistema para cadastro de clientes em que você pode adicionar, procurar, editar e deletar informações de um cliente.<br>
            Foi adicionada uma funcionalidade para procurar pelo CEP do cliente através do consumo de API do https://viacep.com.br/.<br> 

            <br>
            <a class="nav-link" href="https://www.linkedin.com/in/lilian-matsumoto/" target="_blank">Confira o repositório no Github!</a>
        </div>
        <p></p>
        <hr>

        <!-- Repositório 3 --> 
        <div class="col text-center">
            <img src="{{ url_for('static', filename='img/CatalogoBoardgame.png') }}" alt="imagem" style="max-width: 80%; height: auto;">
        </div>
        <div class="col">
            <h3>Projeto Catálogo de Boardgames</h3>
            <strong>Ferramentas:</strong>
            Python 3.10.10 e as bibliotecas tkinter e pyodbc.<br>
            SQL Server<br>
            Este foi meu primeiro CRUD (Create, Read, Update and Delet) e, como banco de dados, utilizei o SQL.<br>
            É um catálogo de boardgames em que você pode adicionar informações sobre seus boardgames e, quando a galera vir em casa não precisar ficar procurando na estante.<br>
            <br>
            <a class="nav-link" href="https://github.com/liliansom/CatalogoBoardgames/blob/main/main.py" target="_blank">Confira o repositório no Github!</a>
        </div>
        <p></p>
        <hr>

        <!-- Repositório 2 -->
        <div class="col text-center">
            <img src="{{ url_for('static', filename='img/mosteller.png') }}" alt="imagem" style="max-width: 80%; height: auto;">
        </div>
        <div class="col">
            <h3>Projeto Calculadora de Superfície Corporal</h3>
            <strong>Ferramentas:</strong>
            Python 3.10.10 e as bibliotecas tkinter e math<br>
            Realizei este projeto com o intuito de conhecer a biblioteca tkinter e, também, ter uma maneira mais eficaz de calcular a superfície corporal de uma pessoa utilizando a fórmula de Mosteller.<br>
            <br>
            <a class="nav-link" href="https://github.com/liliansom/CalculadoraSuperficieCorporal" target="_blank">Confira o repositório no Github!</a>
        </div>
        <p></p>
        <hr>
        
        <!-- Repositório 1 --> 
        <div class="col text-center">
            <img src="{{ url_for('static', filename='img/Snake.png') }}" alt="imagem" style="max-width: 80%; height: auto;">
        </div>
        <div class="col">
            <h3>Projeto Jogo da Cobrinha</h3>
            <strong>Ferramentas:</strong>
            Python 3.10.10 e as bibliotecas random e pygame<br>
            Realizei este projeto com o intuito de criar meu primeiro jogo com interface gráfica.<br>
            <br>
            <a class="nav-link" href="https://github.com/liliansom/Projetos_Python_3" target="_blank">Confira o repositório no Github!</a>
        </div>
        <p></p>
        <hr>
    </div>
    <hr>
</div>
{% endblock %}
